/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		@include vendor('appearance', 'none');
		@include vendor('transition', ('all #{_duration(transition)} linear'));
		white-space: nowrap;
		&:hover, &:active {

		}
		&:active {

		}
		
		&.icon {
			&:before {
				margin-right: 0.5em;
			}
		}
		
		&.border {
			display: inline-block;
			position: relative;		
			box-shadow: inset 0 0 0 2px _color(white);
			color: _color(white);
			cursor: pointer;
			font-size: _font(size_18);
			font-weight: _font(weight_semibold);
			height: 2.75em;
			line-height: 2.75em;
			padding: 0 1.25em;
			text-align: center;
			text-decoration: none;
		}

		&.more {
			//font-size: _font(size_18); // 16 at smaller break
			font-weight: _font(weight_semibold);
			&:hover {
				text-decoration: underline;
			}
		}
		
		&.next, &.caret_right, &.caret_left {
			&:after, &:before {
				@include vendor('transition', 'opacity #{_duration(transition)} linear');
				content: '';
				display: inline-block;
				background-position: center right;
				background-repeat: no-repeat;
				position: relative;
				vertical-align: middle;
			}
		}
		
		&.next {
			&:after {
				margin-left: .5em;
				background-size: 30px 20px;
				width: 30px;
				height: 20px;
				top: -2px;
				background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="24px" viewBox="0 0 36 24" zoomAndPan="disable"><style>line { stroke: #{_color(white)}; stroke-width: 2px; }</style><line x1="0" y1="12" x2="34" y2="12" /><line x1="25" y1="4" x2="34" y2="12.5" /><line x1="25" y1="20" x2="34" y2="11.5" /></svg>');
			}
		}
	
		&.caret_left, &.caret_right {
			@include vendor('transition', ('all #{_duration(transition)} linear'));
			&:hover {
				opacity: .6;
				//text-decoration: none !important;
			}
		}
	
		&.caret_left {
			&:before {
				margin: 0 .3em;
				background-size: 1em .7em;
				width: 1em;
				height: 1em;
				top: -.02em;
				background-image: svg-url('<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.74 8.98"><defs><style>.cls-1{fill:#231f20;}</style></defs><polygon class="cls-1" points="6.74 0 6.74 8.98 0 4.49 6.74 0"/></svg>');
			}
		}
		
		&.caret_right {
			&:after {
				margin: 0 .3em;
				background-size: 1em .7em;
				width: 1em;
				height: 1em;
				top: -.02em;
				background-image: svg-url('<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.74 8.98"><defs><style>.cls-1 {fill: #231f20;}</style></defs><polygon class="cls-1" points="0 0 0 8.98 6.74 4.49 0 0"/></svg>');
			}
		}

			/*
			&:hover, &:active {
				&:after {
					opacity: 1;
				}
			}
*/

		/*
	@include breakpoint(large) {
				//padding-right: 5em;
			}
*/

		&.special {
			background-color: _color(fg-bold);
			box-shadow: none;
			color: _color(bg);

			&:hover, &:active {
				background-color: _color(highlight);
				color: _color(bg) !important;
			}

			&:active {
				background-color: desaturate(darken(_color(highlight), 15), 5);
			}
		}
		&.disabled,
		&:disabled {
			@include vendor('pointer-events', 'none');
			cursor: default;
			opacity: 0.25;
		}
	}