// Self-hosted webfonts 
@font-face {
	font-family: "big-caslon";
	src:	url('../fonts/Big Caslon Regular.eot') format('woff2'),
			url('../fonts/Big Caslon Regular.woff2') format('woff2'),
			url('../fonts/Big Caslon Regular.woff') format('woff');
	font-display: auto;
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'guyot-text';
	src:	url('../fonts/Guyot Text Regular.eot') format('woff2'),
			url('../fonts/Guyot Text Regular.woff2') format('woff2'),
			url('../fonts/Guyot Text Regular.woff') format('woff');
	font-display: auto;
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'guyot-text';
	src:	url('../fonts/Guyot Text Italic.eot') format('woff2'),
			url('../fonts/Guyot Text Italic.woff2') format('woff2'),
			url('../fonts/Guyot Text Italic.woff') format('woff');
	font-display: auto;
	font-style: italic;
	font-weight: 400;
}

// Global styles
body, input, select, textarea {
	color: _color(black);
	font-family: $sans;
	font-size: _font(size_16);
	font-weight: _font(weight_normal);
   &.dark {
	   color: _color(white);
	   -webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
   }
}

// Scale type with screensize
body {
	@include breakpoint(medium) {
		font-size: 87.5%;
	}
	@include breakpoint(small) {
		font-size: 76.5625%;
	}
}

// General styles
a {
	@include vendor('transition', (
		'color #{_duration(transition)} ease-in-out',
		'border-bottom-color #{_duration(transition)} ease-in-out'
	));
	color: inherit;
	text-decoration: none;
}

strong, b {
	font-weight: _font(weight-bold);
}

em, i {
	font-style: italic;
}

p {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: _font(weight_normal);
	margin: 0;
}